<!-- Footer -->
<footer style="background-color: #219ebc" class="text-center py-2">
  <div class="container" style="color: white;">
    <p style="margin-top: 15px;">© 2023 Computer Parts Donation. All rights reserved.</p>
  </div>
</footer>

  <!-- Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
  </body>
  
  </html>
