<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Link to Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <!-- Link to Google's Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Link to Google's Roboto Slab Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <style>
        /* Login page styles */
        :root {
            --primary-color: #4682B4;
            --secondary-color: #87CEEB;
            --tertiary-color: #B6D0E2;
        }

        body {
            background:#F0F8FF;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            padding: 0;
            font-family: 'Poppins', sans-serif;
        }

        .login-container {
            width: 100%;
            max-width: 400px;
            background-color: white;
            border-radius: 15px;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
            padding: 30px;
        }

        h1 {
            color: #5072A7;
            text-align: center;
            margin-bottom: 30px;
        }

        .form-group label {
            font-size: 1.2rem;
            color: #5072A7;
            margin-bottom: 10px;
        }

        .form-control {
            border: 2px solid var(--tertiary-color);
            transition: border-color 0.3s, box-shadow 0.3s;
            font-size: 1rem;
            padding-right: 40px; /* Make room for the icon */
        }

        .form-control:hover,
        .form-control:focus {
            border-color: var(--primary-color);
            box-shadow: 0 0 5px var(--primary-color);
            outline: none;
        }

        .password-container {
            position: relative;
        }

        .toggle-password {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            border: none;
            background: none;
            cursor: pointer;
            outline: none;
        }

        .btn-primary {
            background-color: var(--primary-color);
            border: none;
            border-radius: 10px;
            padding: 10px 30px;
            font-size: 1.1rem;
            font-weight: bold;
            width: 100%;
            transition: background-color 0.2s, box-shadow 0.2s;
            box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
            margin-top: 20px;
        }

        .btn-primary:hover,
        .btn-primary:focus {
            background-color: #5072A7; /* Updated hover background color */
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
            outline: none;
        }

        .btn-primary:active {
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        }

        @media (max-width: 992px) {
            .login-container {
                padding: 20px;
                margin-top: 30px;
            }
        }
    </style>
</head>  
<body class="login-page">
    <!-- Login Content -->
    <div class="login-container">
        <h1>Sign In</h1>
        <!-- Login Form -->
        <form action="/login" method="POST">
            <% if (typeof message !== 'undefined') { %>
                <p class="red-border"><%= message %></p>
            <% } %>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                <div class="password-container">
                    <input type="password" class="form-control" id="password" name="password" required>
                    <button type="button" id="togglePassword" class="toggle-password">
                        <i class="material-icons">visibility</i>
                    </button>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <div class="mt-4 text-center">
            Don't have an account? <a href="/signup">Sign up here</a>
        </div>
    </div>
    <!-- Load Bootstrap JS (you can also include jQuery for additional functionality) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

    <!-- Toggle Password Visibility -->
    <script>
        const togglePasswordButton = document.getElementById('togglePassword');
        const passwordInput = document.getElementById('password');

        togglePasswordButton.addEventListener('click', function () {
            const type = passwordInput.type === 'password' ? 'text' : 'password';
            passwordInput.type = type;
            this.innerHTML = type === 'password' ? '<i class="material-icons">visibility</i>' : '<i class="material-icons">visibility_off</i>';
        });
    </script>
</body>
</html>
